mat-card{
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin: 20px;
}
mat-card h5{
    color: #ff4081;
    font-size: 1rem;
    font-family: 'Josefin Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}