<mat-toolbar>
    <span>Add Your Recipe</span>
    <button mat-raised-button color="accent" (click)="saveRecipe()" >Post</button>


 </mat-toolbar>

  <mat-radio-group [(ngModel)]="foodType" >
    <mat-radio-button value="V">Veg </mat-radio-button>
    <mat-radio-button value="NV" style="margin-left: 1%;">Non-veg </mat-radio-button>
</mat-radio-group>

<mat-form-field color="accent" appearance="fill">
    <mat-label>Select Category</mat-label>
    <mat-select [(ngModel)]="foodCategory" > 
      <mat-option value="NI">North Indian</mat-option>
      <mat-option value="SI">south Indian</mat-option>
      <mat-option value="C">Chinese</mat-option>
      <mat-option value="I">Italian</mat-option>

    </mat-select>
  </mat-form-field>


  <mat-form-field color="accent" class="example-full-width">
    <mat-label>Recipe Name</mat-label>
    <input matInput  [(ngModel)]="recipeName" >
  </mat-form-field>

  <div>
    
    <mat-label for="comment">Add recipe steps:</mat-label>
    <textarea  rows="20" cols="170" id="comment" placeholder="Step1, Step2, Step3........." [(ngModel)]="recipeSteps" ></textarea>

  </div>


