span{
    font-family: 'Pacifico','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}
.toolbar-button{
    margin-left: auto;
}
.toolbar-button button{
    margin: auto 20px;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
}
.search{
    margin: auto;
}
input[type="text"]{
    padding: 0px 20px;
    height: 40px;
    width: 600px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-image: url('../../assets/icons8-search-24.png');
    background-position-y: center;
    background-origin: border-box;
    background-position-x: 98%;
    background-repeat: no-repeat;
}