<mat-card>
    <mat-card-title>Recipes</mat-card-title>
    <mat-card-content>
        <div class="list-container" *ngIf="recipes;else empty">
            <app-recipe-item *ngFor="let recipe of recipes" [recipe]="recipe"></app-recipe-item>
        </div>
        <ng-template #empty>
            <div class="empty-screen">
                <img src="../../assets/20096.jpg" width="300" height="300">
                <h3>No Recipes Found</h3>
            </div>
        </ng-template>
        <div class="filter-container">
            <mat-card-title>Filters</mat-card-title>
            <mat-card-content>
                <mat-radio-group [(ngModel)]="type" (change)="onSelectType()">
                    <mat-radio-button value="">All</mat-radio-button>
                    <mat-radio-button value="V">Veg only</mat-radio-button>
                    <mat-radio-button value="NV">Non-veg only</mat-radio-button>
                </mat-radio-group>
            </mat-card-content>
        </div> 
    </mat-card-content>
    <!-- <mat-card-footer>Load More..</mat-card-footer> -->
</mat-card>