<mat-card>
    <mat-card-title>Recipes</mat-card-title>
    <mat-card-content>
        <div class="list-container">
            <app-recipe-item *ngFor="let recipe of recipes"></app-recipe-item>
        </div>
        <div class="filter-container">
            <mat-card-title>Filters</mat-card-title>
            <mat-card-content>
                <mat-radio-group>
                    <mat-radio-button checked>All</mat-radio-button>
                    <mat-radio-button value="V">Veg only</mat-radio-button>
                    <mat-radio-button value="NV">Non-veg only</mat-radio-button>
                </mat-radio-group>
            </mat-card-content>
        </div> 
    </mat-card-content>
    <!-- <mat-card-footer>Load More..</mat-card-footer> -->
</mat-card>