<mat-card>
    <mat-card-content>
            <div class="category" [ngClass]="{'active':menu === ''}" (click)="onSelect('')">
                <img src="assets/assorted-salads-on-bowls-1640773.jpg">
                <p>All</p>
        </div>
        <div class="category" [ngClass]="{'active':menu === 'NI'}" (click)="onSelect('NI')">
            <img src="assets/north-indian.jpg">
            <p>North Indian</p>
        </div>
        <div class="category" [ngClass]="{'active':menu === 'SI'}" (click)="onSelect('SI')">
            <img src="assets/south-indian.jpg">
            <p>South Indian</p>
        </div>
        <div class="category" [ngClass]="{'active':menu === 'C'}" (click)="onSelect('C')">
            <img src="assets/chinese.jpg">
            <p>Chinese</p>
        </div>
        <div class="category" [ngClass]="{'active':menu === 'I'}" (click)="onSelect('I')">
            <img src="assets/italian.jpg">
            <p>Italian</p>
        </div>
    </mat-card-content>
</mat-card>