<mat-card>
    <mat-card-content>
        <div class="category">
            <img src="assets/north-indian.jpg">
            <p>North Indian</p>
        </div>
        <div class="category">
            <img src="assets/south-indian.jpg">
            <p>South Indian</p>
        </div>
        <div class="category">
            <img src="assets/chinese.jpg">
            <p>Chinese</p>
        </div>
        <div class="category">
            <img src="assets/italian.jpg">
            <p>Italian</p>
        </div>

    </mat-card-content>
</mat-card>er